### 데이터 프레임
- 2차원 배열
- 2차원 백터, 행렬
- 열 == 속성 == 항목
- 행 == 레코드 == 줄

In [ ]:
import pandas as pd

dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장.
df = pd.DataFrame(dict_data, index=['A','B','C'])

df.columns = ['초1', '초2', '초3', '초4', '초5']

# df의 자료형 출력
print(df)

   초1  초2  초3  초4  초5
A   1   4   7  10  13
B   2   5   8  11  14
C   3   6   9  12  15

In [22]:
import pandas as pd

dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

# DataFrame 생성 시, columns 인자를 사용하여 컬럼 이름 변경
df = pd.DataFrame(dict_data, index=['A', 'B', 'C'], columns=['초1', '초2', '초3', '초4', '초5'])

# 출력
print(df)

    초1   초2   초3   초4   초5
A  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN

In [ ]:
dict_data = {'name':['Kim','Lee','Park'], 'age':[24,27,35], 'children':[2,1,3]}

tr_data = pd.DataFrame(dict_data)

tr_data

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   35         3

In [6]:
datas = {'food':['KFC', 'McDonald','SchoolFood'], 'price':[1000,2000,2500],'rating':[4.5,3.9,4.2]}

tr_data = pd.DataFrame(datas)

print(tr_data)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [43]:
df = pd.DataFrame([[15,'남', '덕영중'],[17,'여','수리중']],index=['준서','예은'],columns=['나이','성별','학교'])
print(df)

# 반의 이름?
print(df.index)

# 학생의 자료 항목은?
print(df.columns)

#rename
#1반을 준서 2반을 예은으로 바꾸시오

df = df.rename(index={'예은':'2반'}, columns={'성별':'무'})
df

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

    나이  무   학교
준서  15  남  덕영중
2반  17  여  수리중

In [44]:
df = df.drop('학교', axis=1)

df

    나이  무
준서  15  남
2반  17  여