In [2]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
df_이름 = df.set_index('이름')
bunho = [251011, 240203, 251122]
df_번호_이름 = df.set_index([pd.Index([251011, 240203, 251122]), '이름'])
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

문제1) 데이터 프레임 만들기 

학생 성적 데이터프레임 만들기

아래 데이터를 기반으로 DataFrame을 만들어 보세요.

In [3]:
import pandas as pd

grade_Data = {
                '이름' : ['철수', '영희', '민수'],
                '국어' : [90, 85, 80],
                '영어' : [70, 95, 100],
                '수학' : [85, 80, 90]}

gread_pd = pd.DataFrame(grade_Data)

print(gread_pd)

   이름  국어   영어  수학
0  철수  90   70  85
1  영희  85   95  80
2  민수  80  100  90

문제2) 상품 주문 내역 데이터프레임 만들기

다음과 같은 상품 주문 정보를 DataFrame으로 만들어 보세요.

In [4]:
import pandas as pd

price_data = {'1001': ['키보드', 2, 30000],
             '1002': ['모니터', 1, 150000],
             '1003': ['마우스', 3, 2000]}

price_pd = pd.DataFrame(price_data)

price_pd = price_pd.T
price_pd.columns = [['상품명', '수량', '단가']]
print(price_pd)

      상품명 수량      단가
1001  키보드  2   30000
1002  모니터  1  150000
1003  마우스  3    2000

문제3) 행인덱스/열이름 설정하기 

학생 출석부 데이터

​

요구사항 

아래 데이터를 가지고 DataFrame을 만들고,

행 인덱스를 '학생명' 으로, 열 이름을 한글로 변경 하세요.

열 이름을 ["나이", "반"] 으로 변경하세요.
```python
data = {
    "Name": ["철수", "영희", "민수"],
    "Age": [16, 17, 16],
    "Class": ["A", "B", "A"]
}
```

In [5]:
data = {
    "Name": ["철수", "영희", "민수"],
    "Age": [16, 17, 16],
    "Class": ["A", "B", "A"]
}

data_pd = pd.DataFrame(data)

data_pd.columns = ["학생명", "나이", "반"]

data_pd = data_pd.set_index('학생명')


data_pd

     나이  반
학생명
철수   16  A
영희   17  B
민수   16  A

In [6]:
data3 = {"Name": ["철수", "영희", "민수"],
        "Age": [16, 17, 16],
        "Class": ["A", "B", "A"]
       }

df3 = pd.DataFrame(data3)
# 변수 = 데이터프레임.rename(columns = { 기존 이름 : 변경후 이름 , ...})
df3 = df3.rename(columns = {'Name':'학생명', 'Age':'나이','Class':'반'})
# 변수 = 데이터프레임.rename(index = { 기존 이름 : 변경후 이름 , ...})
df3_1 = df3.set_index(['학생명'])

df3_1

     나이  반
학생명
철수   16  A
영희   17  B
민수   16  A

문제4) 행/열삭제


고객 주문 데이터에서 행과 열 삭제하기 아래 데이터를 pandas DataFrame으로 만들고, 특정 행과 열을 삭제해보세요.

요구사항

- 주문번호 1002인 데이터를 행 삭제하세요

- 가격 컬럼을 열 삭제하세요

In [7]:
Oder_Data = {
             '주문번호':[1001,1002,1003],
             '고객명':['김철수','이영희','박민수',],
             '상품명':['키보드','모니터','마우스'],
             '수량':[2,1,3],
             '가격':[30000, 150000, 20000]
             }


Oder_Data_pd = pd.DataFrame(Oder_Data)

drop_index = Oder_Data_pd[Oder_Data_pd['주문번호']==1002].index
print(drop_index)

Oder_Data_pd = Oder_Data_pd.drop(drop_index, axis=0)

drop_가격 = Oder_Data_pd.drop( '가격', axis=1 )
drop_가격

Oder_Data_pd

Index([1], dtype='int64')

   주문번호  고객명  상품명  수량     가격
0  1001  김철수  키보드   2  30000
2  1003  박민수  마우스   3  20000

In [8]:
import pandas as pd
data = {'주문번호': ['1001', '1002', '1003'],
        '고객명': ['김철수', '이영희', '박민수'],
        '상품명': ['키보드', '모니터', '마우스'],
        '수량': [2, 1, 3],
        '가격': [3000, 150000, 20000]}
df = pd.DataFrame(data)
df2 = df.drop([1])
df3 = df2.drop('가격', axis=1)
df3

   주문번호  고객명  상품명  수량
0  1001  김철수  키보드   2
2  1003  박민수  마우스   3

In [9]:
data4 = {
         '주문번호' : [1001,1002,1003],
         '고객명' : ['김철수','이영희','박민수'],
         '상품명' : ['키보드','모니터','마우스'],
         '수량' : [2,1,3],
         '가격' : [30000,150000,200000]
        }

df4 = pd.DataFrame(data4)

# drop_index = df4 [ df4[ '주문번호' ]  == 1002 ].index

df4 = df4.set_index(['주문번호'])

# 변수 = 데이터프레임.drop(행 인덱스, axis = 0)
df4 = df4.drop([1002],axis = 0)
# 변수 = 데이터프레임.drop(열 인덱스, axis = 1)
df4 = df4.drop(['가격'],axis = 1)

df4

      고객명  상품명  수량
주문번호
1001  김철수  키보드   2
1003  박민수  마우스   3

문제5) 행/열 선택
 쇼핑몰 주문 데이터

다음 데이터를 DataFrame으로 만들고, 행과 열을 선택해보세요!

- 1~2번째 행과 '고객명', '상품명' 열만 선택해서 출력하세요

In [10]:
data = {
    "주문번호": [1001, 1002, 1003],
    "고객명": ["김철수", "이영희", "박민수"],
    "상품명": ["키보드", "모니터", "마우스"],
    "수량": [2, 1, 3],
    "가격": [30000, 150000, 20000]
}

data_pd = pd.DataFrame(data)
print(data_pd)

   주문번호  고객명  상품명  수량      가격
0  1001  김철수  키보드   2   30000
1  1002  이영희  모니터   1  150000
2  1003  박민수  마우스   3   20000

요구사항

- 주문번호 1002의 상품명만 선택해서 출력하세요

In [11]:
data_pd.iloc[1]

주문번호      1002
고객명        이영희
상품명        모니터
수량           1
가격      150000
Name: 1, dtype: object

In [12]:
data_pd=df.set_index('주문번호')
data_pd.loc[1002] # 주문번호 1002의 상품명만 선택해서 출력

KeyError: 1002

- 수량과 가격 열만 선택해서 모든 행 출력하세요

In [ ]:
data_pd[['수량','가격']]

   수량      가격
0   2   30000
1   1  150000
2   3   20000

1~2번째 행과 '고객명', '상품명' 열만 선택해서 출력

In [ ]:
df.iloc[ [1,2], [1,2] ]

   수학  영어
1  80  89
2  70  95

In [ ]:
import pandas as pd
data = {'주문번호': ['1001', '1002', '1003'],
        '고객명': ['김철수', '이영희', '박민수'],
        '상품명': ['키보드', '모니터', '마우스'],
        '수량': [2, 1, 3],
        '단가': [30000, 150000, 20000]}
df = pd.DataFrame(data)
label = df.loc[1]
print(label)
print('-----------↑ 요구1 ↑ -- ↓ 요구2 ↓------------')
d_e = df[['수량', '단가']]
print(d_e)
print('-----------↑ 요구2 ↑ -- ↓ 요구3 ↓------------')
b_c = df.iloc[0:2:1, [2, 3]]
b_c

문제6)  원소값 수정하기 

학생 성적 데이터 수정하기

다음 데이터를 DataFrame으로 만들고,

특정 원소 값을 수정하세요!

In [ ]:
data = {
    "이름": ["철수", "영희", "민수"],
    "국어": [90, 70, 85],
    "영어": [85, 95, 80],
    "수학": [80, 100, 90]
}

df = pd.DataFrame( data )
df
df=df.set_index( '이름' )
df
df.loc[ '영희', '수학' ] = 98
df.loc['민수','영어'] = 82
df

    국어  영어  수학
이름
철수  90  85  80
영희  70  95  98
민수  85  82  90

    키보드로 입력 받아서 수정하기
    이름? 영희
    과목? 수학
    수정 할 점수는? 98

In [ ]:
name = input("이름은?")
subject = input("과목은?")
score = int(input("수정할 점수"))
df.loc[name,subject] = score

문제7) set_index() 

특정 열을 행 인덱스로 설정하는 함수

​

** 이용분야 

- 고유한 값으로 데이터 조회:

예를 들어, 고객 ID, 주문번호, 제품 코드 등과 같이 고유한 값을 인덱스로 설정하면, 특정 데이터를 찾을 때 더 빠르고 쉽게 접근할 수 있어요.

- 다중 인덱스 설정:

여러 컬럼을 인덱스로 설정하면, 다중 인덱스를 활용해 계층적으로 데이터를 관리할 수 있습니다. 예를 들어, 연도, 지역을 인덱스로 설정하면, 두 컬럼을 기준으로 데이터를 그룹화하고 쉽게 탐색할 수 있어요.

- 정렬 및 집계:

인덱스를 활용하면 데이터를 정렬, 그룹화 또는 집계할 때 매우 유용합니다.

문제 

고객 주문 데이터에서 주문번호를 인덱스로 설정하고 데이터 조회하기

다음 데이터를 가지고 주문번호를 인덱스로 설정한 후,

주문번호 1002에 해당하는 고객 정보를 조회해보세요.

In [ ]:
# 문제7
custom_order_data = {
    "주문번호": [1001, 1002, 1003],
    "고객명": ["김철수", "이영희", "박민수"],
    "상품명": ["키보드", "모니터", "마우스"],
    "수량": [2, 1, 3],
    "가격": [30000, 150000, 20000]
}

df = pd.DataFrame( custom_order_data )
# 주문번호를 인덱스로 설정
df = df.set_index( '주문번호' )
df
# 주문번호 1002에 해당하는 고객명과 상품명을 출력
df.loc[1002, ['고객명','상품명'] ]

문제8) reindex() 행 인덱스 재배열

​

*** reindex() 주로 사용하는 분야

데이터 정렬 변경

원래 순서와 관계없이, 원하는 순서로 인덱스를 다시 배열할 때.

누락된 인덱스 추가 (NaN)

데이터에 없는 값도 인덱스로 추가해서 결측치를 생성, 이후 fillna로 처리 가능.

다른 DataFrame과 인덱스를 맞출 때

다른 데이터셋과 병합하거나 비교할 때, 인덱스를 동일하게 맞출 수 있음.


문제 

아래 데이터를 DataFrame으로 만든 뒤,

reindex()를 사용해 주문번호 순서를 [1003, 1001, 1004, 1002]로 변경하세요.

In [ ]:
# 문제8 
data = {
    "주문번호": [1001, 1002, 1003],
    "고객명": ["김철수", "이영희", "박민수"],
    "상품명": ["키보드", "모니터", "마우스"]
}
df = pd.DataFrame( data )
df = df.set_index('주문번호')
print( df, "!!!") 
df = df.reindex( [1003, 1001, 1004, 1002 ] )
df

문제9 ) reset_index() - 행 인덱스 초기화

reset_index()는 DataFrame에서 인덱스를 기본 숫자형(기본 0,1,2,3...)으로 되돌리는 함수

데이터 전처리에서 인덱스 → 컬럼으로 되돌릴 때 정말 자주 쓰는 함수

​

*** 이용분야 

인덱스를 일반 컬럼으로 되돌릴 때

set_index()로 지정한 인덱스를 해제하고 원래 형태로 돌리고 싶을 때.

정렬/조작 후 데이터 초기화해서 깔끔한 테이블 형태로 만들 때.

중복된 인덱스가 있을 때 재정비

중복/다중 인덱스를 컬럼으로 빼고 새로 자동 인덱스를 만들고 싶을 때.

인덱스 초기화 후 데이터 export 준비

인덱스를 데이터로 포함해 csv로 저장하거나 다른 포맷으로 내보낼 때.

​

문제

아래 데이터를 DataFrame으로 만들고,

고객명을 인덱스로 설정한 뒤,

다시 reset_index()를 이용해 인덱스를 기본 숫자형으로 초기화하세요.

In [ ]:
# 문제9
data = {
    "고객명": ["김철수", "이영희", "박민수"],
    "상품명": ["키보드", "모니터", "마우스"],
    "수량": [2, 1, 3]
       }
df = pd.DataFrame(data)
print(df)

df = df.set_index('고객명')

# 인덱스 설정후
print("인덱스설정 후")
print(df)
# reset_index후
df = df.reset_index()
df

sort_index()

In [20]:
import pandas as pd

# 딕셔서리를 정의
dict_data = {'c0':[10,2,23], 'c1':[2,2,-1], 'c2':[57,18,9], 'c3':[10,11,12], 'c4':[18,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r2, r1]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r2', 'r1'])
print(df)

    c0  c1  c2  c3  c4
r0  10   2  57  10  18
r2   2   2  18  11  14
r1  23  -1   9  12  15

In [22]:
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0  10   2  57  10  18
r2   2   2  18  11  14
r1  23  -1   9  12  15

C1열을 기준(첫번째)으로 내림차순 정렬을하는데 만약 동일하면 c3열을 기준(두번째)으로 내림차순 정렬하세요.

In [23]:
ndf = df.sort_values(by=['c1', 'c3'], ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   2   2  18  11  14
r0  10   2  57  10  18
r1  23  -1   9  12  15

In [24]:
ndf = df.sort_values(by=['c3','c4'], ascending=[False,True])
print(ndf)

    c0  c1  c2  c3  c4
r1  23  -1   9  12  15
r2   2   2  18  11  14
r0  10   2  57  10  18

In [29]:
import pandas as pd

sr = pd.Series({
                        '국어':100,
                        '영어':80,
                        '수학':90,
                        '학점':'A'
})

sr_div = sr[0:3]+ 10
sr_div

국어    110
영어     90
수학    100
dtype: object

In [36]:
student1 = pd.Series({
                        '국어':100,
                        '영어':80,
                        '수학':90,
})

student2 = pd.Series({
                        '수학':100,
                        '국어':80,
                        '영어':90,
})
student1 + student2

국어    180
수학    190
영어    170
dtype: int64

In [35]:
student1 = pd.Series({
                        '국어':100,
                        '영어':80,
                        '수학':90,
})

student2 = pd.Series({
                        '수학':100,
                        '국어':80,
                        '체육':90,
})

student1 + student2

국어    180.0
수학    190.0
영어      NaN
체육      NaN
dtype: float64

In [ ]:
import pandas as pd

student1 = pd.Series({
                        '국어':100,
                        '영어':80,
                        '수학':90,
})

student2 = pd.Series({
                        '수학':100,
                        '국어':80,
                        '영어':90,
})

덧셈 = student1 + student2
뺄셈 = student1 - student2
곱셈 = student1 * student2
나눗셈 = round(student1 / student2, 2)

df = pd.DataFrame([덧셈, 뺄셈, 곱셈, 나눗셈], index=['합', '차', '곱', '나누기']).T
df

        합     차       곱   나누기
국어  180.0  20.0  8000.0  1.25
수학  190.0 -10.0  9000.0  0.90
영어  170.0 -10.0  7200.0  0.89

In [10]:
import pandas as pd
import numpy as np

student1 = pd.Series(
                        {'국어': np.nan,
                         '영어': 80,
                         '수학': 90})
student2 = pd.Series(
                        {'수학': 80,
                         '국어': 90})

print(student1)
print(student2)

sr_add = student1.add(student2, fill_value=0)
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)

result = pd.DataFrame(
                        [sr_add, sr_sub, sr_mul, sr_div],
                        index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

result

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    80
국어    90
dtype: int64

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf