In [11]:
#117page

import pandas as pd

data = {'name' : [ 'Jerry', 'Riah', 'Paul'],
        'algol' : [ "A", "A+", "B"],
        'basic' : [ "C", "B", "B+"],
        'c++' : [ "B+", "C", "C+"],
        }

df = pd.DataFrame(data)
df

    name algol basic c++
0  Jerry     A     C  B+
1   Riah    A+     B   C
2   Paul     B    B+  C+

In [12]:
df = df.set_index('name')
df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [7]:
df.to_csv('./data/df_sample_0423.csv')

In [8]:
df.to_csv('./data/df_sample_0423_index.csv', index=False)

In [13]:
# 라이브러리 불러오기
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
data = {'name' : [ 'Jerry', 'Riah', 'Paul'],
        'algol' : [ "A", "A+", "B"],
        'basic' : [ "C", "B", "B+"],
        'c++' : [ "B+", "C", "C+"],
        }

df = pd.DataFrame(data)
df = df.set_index('name')   #name 열을 인덱스로 지정

df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [14]:
df.to_json('./data/df_sample_0423_basic.json')

In [15]:
df.to_json('./data/df_sample_0423_split.json', orient='split')
# index, columns, data로 분리해서 json 저장한다.

In [ ]:
df.to_json('./data/df_sample_0423_records.json', orient='records')
# 각 행을 별도의 json객체로 저장하여 열 이름이 키로 사용된다.
# record는 행을 말한다.

In [25]:
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df1, df2에 저장 
data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"],
         'basic' : [ "C", "B", "B+"],
          'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}

In [23]:
df.to_excel('./data/excel_0423.xlsx')

df.to_excel('./data/excel_0423_index_false.xlsx', index=False)

In [24]:
df2 = pd.DataFrame(data2)
df2.set_index('c0')
df2

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [26]:
# 시트별 데이터 프레임 저장

with pd.ExcelWriter('./data/excel_2_sheet.xlsx') as writer:
    df.to_excel(writer, sheet_name='점수')
    df2.to_excel(writer, sheet_name='가중치')