# 판다스 용도
## 데이터 수집 정리하는 역할
# 자료 형식
## 시리즈, 데이터프레임
# 판다스 목적
## 서로 다른 여러가지 유형의 데이터를 공통 포맷을 정리하는 것

1. 시리즈
 1.1 1차원 배열

In [ ]:
import pandas as pd
dict_data ={'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr))

print(sr)

리스트 자료를 시리즈로만들기기

In [ ]:
import pandas as pd

list_data = [100, 200, 300]
list_sr = pd.Series(list_data, index=['a', 'b', 'c'])
print(list_sr)

튜플 자료를 시리즈로 만들기

In [ ]:
tuple_data = (300, 400)
tuple_sr = pd.Series(tuple_data, index=['a', 'b'])
print(tuple_data)
type(tuple_sr)

In [ ]:
import pandas as pd

d_list = ['2019-01-02', 3.14, 'ABC', '100', 'True']

sr = pd.Series(d_list)

print(sr)

In [ ]:
print(len(sr))

print(sr.shape)

print(sr.ndim)

In [ ]:
sr_index = sr.index
print(sr_index)
sr_values =sr.values
print(sr_values)

In [ ]:
dic_data = {"딸기":5000, "바나나":300}

sr_fruits = pd.Series(dic_data)

print(sr_fruits)

fruits = sr_fruits.index
print(fruits)

In [ ]:
dic = {'a':10,'b':20,'c':30,'d':40,'e':50,'f':60}

sr_dic = pd.Series(dic)

sr_dic

In [ ]:
num_list = list(range(10,61,10))
i_list = ['a','b','c','d','e','f']
sr010 = pd.Series(num_list, index=i_list)
sr010

print(sr010['c'],sr010[2])

In [18]:
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [20]:
print(sr[['이름', '성별', '학생여부']])

이름        영인
성별         여
학생여부    True
dtype: object

In [ ]:
if sr['학생여부']:
    print(sr[['이름', '생년월일']])
else:
    print(sr['이름'])
    

print

이름              영인
생년월일    2010-05-01
dtype: object

In [23]:
print(sr['이름':'성별'])

이름              영인
생년월일    2010-05-01
성별               여
dtype: object

In [29]:
sr_empty = pd.Series()

ind = range(1,101)

sr_5 = pd.Series(0, index=ind)
print(sr_5)

1      0
2      0
3      0
4      0
5      0
      ..
96     0
97     0
98     0
99     0
100    0
Length: 100, dtype: int64

문제1) 시리즈 생성

리스트 [100, 200, 300, 400, 500]를 사용해서 인덱스가 'a', 'b', 'c', 'd', 'e'인 시리즈를 만들어 출력하시오.

In [33]:
import pandas as pd

mylist = [100, 200, 300, 400, 500]
myIndex = ['a', 'b', 'c', 'd', 'e']

my_sr = pd.Series(mylist,index=myIndex)
my_sr

a    100
b    200
c    300
d    400
e    500
dtype: int64

문제2) 값 선택 및 슬라이싱

아래 시리즈에서 인덱스 'b'와 'd'에 해당하는 값을 출력하시오.

In [ ]:
print(my_sr[['b','d']])

a    100
b    200
dtype: int64

문제3) 조건 필터링

다음 시리즈에서 값이 30보다 큰 데이터만 출력하시오.

In [3]:
import pandas as pd
s = pd.Series([15, 25, 35, 45, 55], index=['A', 'B', 'C', 'D', 'E'])
s_30 = s[s > 30]
s_30

C    35
D    45
E    55
dtype: int64

문제4) 연산 적용

아래 시리즈에 10을 더한 새로운 시리즈를 만들어 출력하시오.

In [2]:
import pandas as pd
s = pd.Series([5, 10, 15, 20, 25])
s += 10
s

0    15
1    20
2    25
3    30
4    35
dtype: int64

문제5) 딕셔너리로 시리즈 만들기 & 값 접근

다음 딕셔너리를 시리즈로 만들고 'Python' 과목 점수를 출력하시오.

In [ ]:
scores = {
    'Python': 95,
    'Math': 88,
    'English': 76,
    'History': 82
}

문제6) 시리즈 인덱스 변경

아래 시리즈의 인덱스를 'A', 'B', 'C', 'D', 'E'로 바꿔서 출력하시오.

In [1]:
import pandas as pd
s = pd.Series([12, 24, 36, 48, 60])
s.index = ['A', 'B', 'C', 'D', 'E']

s

A    12
B    24
C    36
D    48
E    60
dtype: int64

문제7) 시리즈 값의 평균 구하기

다음 시리즈의 평균값을 계산하시오.

In [8]:
import pandas as pd
s = pd.Series([80, 90, 75, 95, 88,])
print(s.min())
print(s.max())
print(s.mean())

75
95
85.6

문제8) 시리즈 정렬

아래 시리즈를 값 기준으로 오름차순 정렬하여 출력하시오.

In [9]:
import pandas as pd
s = pd.Series([42, 16, 58, 33, 95])
s.sort_values()

1    16
3    33
0    42
2    58
4    95
dtype: int64

문제9) 시리즈 NaN 처리

다음 시리즈에서 NaN을 0으로 채운 새로운 시리즈를 만들어 출력하시오.

In [13]:
import pandas as pd
import numpy as np

s = pd.Series([10, np.nan, 30, np.nan, 50])
s_1 = pd.Series([10,'a',30,'b',50])
s_0 = s.fillna(0)
print(s_0)

0    10.0
1     0.0
2    30.0
3     0.0
4    50.0
dtype: float64

문제10) 시리즈 불린 인덱싱

다음 시리즈에서 True인 인덱스만 출력하시오.

In [19]:
import pandas as pd

s = pd.Series([True, False, True, False, True], index=['A', 'B', 'C', 'D', 'E'])

print(s [s].index)

Index(['A', 'C', 'E'], dtype='object')

In [23]:
s_num = [10, 30, 20, 100]
sr_num = pd.Series(s_num)

print(sr_num[sr_num>=30])

1     30
3    100
dtype: int64